#navbarSupportedContent + #topnav-logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#navbarSupportedContent.show + #topnav-logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
